extends base.pug
include mixins/video

block content 
  h2 Your Videos

  each video in videos 
    +video(video) 
  else
    li Sorry Nothing Found

//- +video(video) 처럼 +를 붙여서 mixins를 사용할 수 있다. include 해줘야한다
