extends base.pug
include mixins/video

block content
    form(method="GET")
        input(placeholder="Search by title", name="keyword", type="text")
        input(type="submit", value="Search now")
    div
        if videos
            each video in videos 
                +video(video)


//- method를 GET로 설정하면 input의 keyword=??? 가 url에 추가된다