mixin video(info)
  
        ul 
            li #{info.comments} comments.
            li #{info.views} views.

//- partials이랑 비슷한데 data를 넘겨줄 수 있다. info를 넘겨줬다 위에서는
//- =variable 은 다른 문자열을 붙일 수 없고 #{}에서는 다른 문자열을 붙일 수 있다.